@import url("https://fonts.googleapis.com/css2?family=Butcherman&family=Creepster&family=East+Sea+Dokdo&family=IM+Fell+English+SC&family=IM+Fell+English:ital@0;1&family=My+Soul&family=Nosifer&family=Oswald:wght@400;500;600;700&family=Rubik+Glitch&family=Shadows+Into+Light&family=Syne+Tactile&family=Zeyada&display=swap");
:root {
  --text-color: #f07b3f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
  font-family: "Oswald";
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
